#footer
  padding: 10px 0
  text-align: center
  a
    @extend $link
    font-weight: 600
    color inherit

#footer-info
  line-height: line-height
  font-size: 0.85em
  white-space nowrap
  margin-left 20px
